.button_type_save {
	border:0;
	margin:48px auto 37px;
	width:358px;
	height:50px;
	font-family: 'Inter';
	font-style: normal;
	font-weight: 400;
	font-size: 18px;
	line-height: 22px;
	text-align: center;
	color: #FFFFFF;
	background-color:#000000;
	border-radius: 2px;
	padding:0;
	cursor: pointer;
}

@media screen and (min-width:320px) and (max-width:1279px) {
	.button_type_save {
		margin:45px auto 25px;
		width:238px;
		height:46px;
		font-size: 14px;
		line-height: 17px;
	}
}

.button_type_save:hover {
	opacity: 0.8;
}