.profile__title {
	font-size: 42px;
	line-height: 48px;
	font-weight: 500;
	color: #FFFFFF;
	font-style: normal;
	margin:22px 0 16px 0;
}

@media screen and (min-width:320px) and (max-width:1279px) {
	.profile__title {
		font-size:27px;
		line-height: 33px;
		margin-top:0;
	}
}